.btn-show {
    background-color: #2aab6d;
    color: #fff;
    font-weight: bold;
    height: 62px;
    line-height: 59px;
    padding: 0px 62px 0px 55px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    border: 2px solid #2aab6b;
    margin: 20px;
}
.btn-show:hover {
    background-color: #1c9b5e;
    border: 2px solid #1c9b5e;
}

.btn-show:active {
    background-color: #1c9b5e;
    border: 2px solid #1c9b5e;
    color: #61b98f;
}